<footer class="text-muted">
    <div class="container">
        <ul class="navbar-nav mr-auto d-flex flex-row">
            <li class="nav-item mr-sm-4">
                <a class="nav-link text-muted" href="#">Köp</a>
            </li>
            <li class="nav-item mr-sm-4">
                <a class="nav-link text-muted" href="#">Sälj</a>
            </li>
            <li class="nav-item mr-sm-4">
                <a class="nav-link text-muted" href="#">Kontakt & Hjälp</a>
            </li>
        </ul>
        <div class="social d-flex justify-content-end py-2">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest-square"></i></a>
        </div>
        <div class="endnote py-2">
            <p class="float-right">
                <a href="#" class="text-muted">Back to top</a>
            </p>
            <p><em>&copy; 2019 Begnatsomnytt AB</em></p>
        </div>
    </div>
</footer>