<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="images/vintageLogo.svg" alt="logo" class='logo'></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Köp<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sälj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Om Oss</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kontakt</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sök</button>
            </form>
            <div class="navbar">
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                <button class="btn btn-danger my-2 my-sm-0" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false">Mina
                    Sidor</button>
            </div>
        </div>
    </nav>

    <main role='main'>
        <section class="jumbotron">
            <h1 class="title text-center">Välkommen till <span class="text-uppercase text-success">Begnatsomnytt</span>!
            </h1>
            <p class="text-center">Kort beskrivning om <span class="text-uppercase text-success">företaget</span> Lorem
                ipsum
                dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.</p>
        </section>

        <aside>
            <ul class='menu'>
                <li><a href="#" class="list-item active">Populära Varor</a></li>
                <li>
                    <a href="#" class="list-item">Dam</a>
                    <ul class='menu sub-menu'>
                        <li><a href="#" class="list-item">Klänningar</a></li>
                        <li><a href="#" class="list-item">Vintage</a></li>
                        <li><a href="#" class="list-item">Övrig</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="list-item">Herr</a>
                    <ul class='menu sub-menu'>
                        <li><a href="#" class="list-item">Skjortor</a></li>
                        <li><a href="#" class="list-item">Vintage</a></li>
                        <li><a href="#" class="list-item">Övrig</a></li>
                    </ul>
                </li>
            </ul>
        </aside>

        <div class="container">
            <div class="row row-1">
                <div class="col-md-3 offset-md-3">
                    <div class="card mb-4 shadow-sm">
                        <img src="images/black_dress.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rubrik #1</h5>
                            <p class="card-text">Pris: 349 kr</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="btn btn-success">Köp</a>
                                <small class='text-muted'><i class="fas fa-eye"></i><em>32</em></small>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col-md-3 -->
                <div class="col-md-3">
                    <div class="card mb-4 shadow-sm">
                        <img src="images/dress.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rubrik #2</h5>
                            <p class="card-text">Pris: 319 kr</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="btn btn-success">Köp</a>
                                <small class='text-muted'><i class="fas fa-eye"></i><em>52</em></small>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col-md-3 -->
                <div class="col-md-3">
                    <div class="card mb-4 shadow-sm">
                        <img src="images/black_dress2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rubrik #3</h5>
                            <p class="card-text">Pris: 399 kr</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="btn btn-success">Köp</a>
                                <small class='text-muted'><i class="fas fa-eye"></i><em>68</em></small>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col-md-3 -->
            </div> <!-- end row -->
            <div class="row">
                <div class="col-md-3 offset-md-3">
                    <div class="card mb-4 shadow-sm">
                        <img src="images/dress.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rubrik #4</h5>
                            <p class="card-text">Pris: 349 kr</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="btn btn-success">Visa</a>
                                <small class='text-muted'><i class="fas fa-eye"></i><em>32</em></small>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col-md-3 -->
                <div class="col-md-3">
                    <div class="card mb-4 shadow-sm">
                        <img src="images/black_dress2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rubrik #5</h5>
                            <p class="card-text">Pris: 319 kr</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="btn btn-success">Visa</a>
                                <small class='text-muted'><i class="fas fa-eye"></i><em>52</em></small>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col-md-3 -->
                <div class="col-md-3">
                    <div class="card mb-4 shadow-sm">
                        <img src="images/black_dress.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rubrik #6</h5>
                            <p class="card-text">Pris: 399 kr</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="btn btn-success">Köp</a>
                                <small class='text-muted'><i class="fas fa-eye"></i><em>68</em></small>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col-md-3 -->
            </div> <!-- end row -->
        </div>

        <div class="d-flex justify-content-end py-5 viewers"><em>1245 besökare</em></div>
    </main>

    <footer class="text-muted">
        <div class="container">
            <ul class="navbar-nav mr-auto d-flex flex-row">
                <li class="nav-item mr-sm-4">
                    <a class="nav-link text-muted" href="#">Köp</a>
                </li>
                <li class="nav-item mr-sm-4">
                    <a class="nav-link text-muted" href="#">Sälj</a>
                </li>
                <li class="nav-item mr-sm-4">
                    <a class="nav-link text-muted" href="#">Kontakt & Hjälp</a>
                </li>
            </ul>
            <div class="social d-flex justify-content-end py-2">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-pinterest-square"></i></a>
            </div>
            <div class="endnote py-2">
                <p class="float-right">
                    <a href="#" class="text-muted">Back to top</a>
                </p>
                <p><em>&copy; 2019 Begnatsomnytt AB</em></p>
            </div>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>