<% layout('layout') -%>

<% if(message.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
    </div>
<% } %>

<form method='post' class="form-signin my-5 d-flex">
    <div class="avatar my-4 d-flex justify-content-center align-items-center">
        <i class="fas fa-user-tag"></i>
    </div>

    <div class="form-group">
        <label for="inputEmail" class="sr-only"></label>
        <input type="email" id="inputEmail" class="form-control" name="email" placeholder="E-postadress" required>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="sr-only"></label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Lösenord" required>
    </div>
    <button class="btn btn-lg btn-success" type="submit">Logga In</button>

    <p class="mb-1 text-muted" style="margin-top: 8rem;"><em>&copy; 2019 Begnatsomnytt AB</em></p>

</form>