<form method='post' class="form-signin">
    <i class="fas fa-user-tag"></i>

    <label for="inputName" class="sr-only">Namn</label>
    <input type="text" class="form-control" name="name">
    <br>
    <label for="inputEmail" class="sr-only">Ange e-postadress</label>
    <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
    <br>
    <label for="inputPassword" class="sr-only">Lösenord</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Kom ihåg mig
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Skapa konto</button>

    <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
</form>