<%- layout('boilerplate') -%>

<h1>Title</h1>

<p>Some paragraph of texts</p>

<form action="">
    <input type="search" aria-label="search">
    <button class="btn" type="submit">Seach</button>
</form>

<h3>Cart</h3>
<button class="btn" type="submit">Sign Up</button>