<% layout('layout') -%>

<section class="jumbotron">
    <h1 class="title text-center">Välkommen till <span class="text-uppercase text-success">Begnatsomnytt</span>!
    </h1>
    <p class="text-center">Kort beskrivning om <span class="text-uppercase text-success">företaget</span> Lorem
        ipsum
        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.</p>
</section>